@charset "UTF-8";
html, body, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, fieldset, legend, img, input, p, table {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-size: 16px;
}

i, em {
  font-style: normal;
}

img {
  border: 0;
  display: block;
}

body {
  font-size: 12px;
  font-family: "微软雅黑","黑体","宋体",Arial, Helvetica, "sans-serif";
}

.clear:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

html, body {
  height: 100%;
}

.page {
  height: 100%;
}

header {
  height: 46px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #a71716;
}

.header_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  color: #fff;
}

.header_title {
  line-height: 46px;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.header_btn {
  width: 60px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin-right: 10px;
}

.header_btn .go-cart {
  color: #fff;
  font-size: 18px;
  height: 27px;
  width: 50px;
  border-radius: 8px;
  border: 1px solid #8f0b09;
  display: block;
  line-height: 25px;
  margin-top: 10px;
  background: url(../imgs/list1_03.jpg) no-repeat center;
  background-size: 50px 25px;
}

.header_btn .go-back {
  font-size: 28px;
  font-family: "宋体";
  font-weight: 900;
  color: #fff;
}

.content {
  padding: 46px 20px 0 20px;
  background: #fff;
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.history_list {
  width: 100%;
}

.history_list li {
  width: 100%;
  height: 90px;
  margin: 2vw 0;
  border: 1px solid #eae6e6;
}

.history_list li a {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  padding: 5px 10px;
}

.history_list li a img {
  width: 80px;
  height: 80px;
}

.history_list li a div {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding-left: 10px;
}

.history_list li a div .history_price em {
  color: #A71716;
  padding-left: 5px;
}
